@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
.account-section {
  margin-top: 60px; }
  @media (max-width: 1367px) {
    .account-section {
      margin-top: 40px; } }
  @media (max-width: 1367px) {
    .account-section {
      margin-top: 30px; } }
  .account-section .account-wrap {
    max-width: 765px;
    margin: auto; }
    .account-section .account-wrap .nav-pills {
      justify-content: center; }
      .account-section .account-wrap .nav-pills li:first-child {
        margin-right: 75px; }
        @media (max-width: 1679px) {
          .account-section .account-wrap .nav-pills li:first-child {
            margin-right: 50px; } }
        @media (max-width: 1367px) {
          .account-section .account-wrap .nav-pills li:first-child {
            margin-right: 40px; } }
        @media (max-width: 1199px) {
          .account-section .account-wrap .nav-pills li:first-child {
            margin-right: 30px; } }
        @media (max-width: 1023px) {
          .account-section .account-wrap .nav-pills li:first-child {
            margin-right: 20px; } }
        @media (max-width: 767px) {
          .account-section .account-wrap .nav-pills li:first-child {
            margin-right: 10px; } }
      .account-section .account-wrap .nav-pills li a {
        color: #C7C7C7;
        background: transparent !important;
        text-align: center;
        text-decoration: underline;
        font: 600 19px "Poppins", sans-serif; }
        @media (max-width: 1679px) {
          .account-section .account-wrap .nav-pills li a {
            font-size: 16px; } }
        @media (max-width: 1199px) {
          .account-section .account-wrap .nav-pills li a {
            font-size: 14px; } }
        @media (max-width: 479px) {
          .account-section .account-wrap .nav-pills li a {
            font-size: 12px;
            padding: 0 8px; } }
        .account-section .account-wrap .nav-pills li a.active {
          color: #7F57F1; }
    .account-section .account-wrap .tab-pane .pro-info-block {
      max-width: 100%;
      margin: auto; }
      .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic {
        margin-top: 65px;
        width: 100%;
        position: relative;
        margin-bottom: 58px; }
        @media (max-width: 1679px) {
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic {
            margin-top: 45px;
            margin-bottom: 38px; } }
        @media (max-width: 1281px) {
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic {
            margin-top: 30px;
            margin-bottom: 30px; } }
        @media (max-width: 1199px) {
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic {
            margin-top: 20px;
            margin-bottom: 20px; } }
        .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic .pic-edit {
          position: absolute;
          right: 0; }
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic .pic-edit .btn {
            padding: 0; }
            @media (max-width: 991px) {
              .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic .pic-edit .btn .edit {
                width: 15px;
                height: 15px;
                object-fit: contain; } }
        .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic .pro-pics {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          height: 150px;
          padding: 8px;
          margin: auto;
          background: #E8E0FF;
          border-radius: 100px; }
          @media (max-width: 1679px) {
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic .pro-pics {
              width: 140px;
              height: 140px; } }
          @media (max-width: 1367px) {
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic .pro-pics {
              width: 110px;
              height: 110px; } }
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic .pro-pics .pic {
            width: 134px;
            height: 134px;
            object-fit: contain; }
            @media (max-width: 1679px) {
              .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic .pro-pics .pic {
                width: 120px;
                height: 120px; } }
            @media (max-width: 1367px) {
              .account-section .account-wrap .tab-pane .pro-info-block .pro-info-pic .pro-pics .pic {
                width: 100px;
                height: 100px; } }
      .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 0 59px;
        flex-wrap: wrap; }
        @media (max-width: 1679px) {
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form {
            gap: 0 49px; } }
        @media (max-width: 1367px) {
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form {
            gap: 0 40px; } }
        @media (max-width: 1199px) {
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form {
            gap: 0 30px; } }
        .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block {
          width: 341px;
          flex-basis: 341px;
          margin-bottom: 50px;
          padding-bottom: 0px;
          position: relative; }
          @media (max-width: 1679px) {
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block {
              width: 345px;
              flex-basis: 345px; } }
          @media (max-width: 1367px) {
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block {
              width: 345px;
              flex-basis: 345px; } }
          @media (max-width: 1281px) {
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block {
              width: 350px;
              flex-basis: 350px; } }
          @media (max-width: 1199px) {
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block {
              width: 355px;
              flex-basis: 355px;
              margin-bottom: 30px; } }
          @media (max-width: 1023px) {
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block {
              width: 100%;
              flex-basis: 100%; } }
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-label {
            text-align: left;
            font: normal 17px "Poppins", sans-serif;
            color: #000000;
            margin-bottom: 7px;
            display: flex;
            align-items: center; }
            @media (max-width: 1679px) {
              .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-label {
                font-size: 15px; } }
            @media (max-width: 1367px) {
              .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-label {
                font-size: 14px; } }
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-label .btn {
              padding: 0;
              text-align: left;
              text-decoration: underline;
              font: 500 17px "Poppins", sans-serif;
              color: #7F57F1;
              margin-left: 9px; }
              @media (max-width: 1679px) {
                .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-label .btn {
                  font-size: 15px; } }
              @media (max-width: 1367px) {
                .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-label .btn {
                  font-size: 14px; } }
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-control {
            height: 59px;
            background: #F7F5FF;
            border-radius: 6px;
            border: none;
            text-align: left;
            font: normal 17px "Poppins", sans-serif;
            color: #000000;
            border-radius: 0; }
            @media (max-width: 1679px) {
              .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-control {
                height: 48px; } }
            @media (max-width: 1367px) {
              .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-control {
                height: 44px;
                font-size: 15px; } }
            @media (max-width: 1199px) {
              .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-control {
                font-size: 14px; } }
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .form-control:focus {
              box-shadow: none;
              border: none; }
          .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .val-msg {
            position: absolute;
            left: 0;
            top: 100%;
            align-items: center;
            padding-top: 8px;
            font-size: 12px;
            font-weight: 500;
            color: #FF4141; }
            .account-section .account-wrap .tab-pane .pro-info-block .pro-info-form .form-block .val-msg img {
              margin-right: 10px; }
    .account-section .account-wrap .tab-pane .man-add {
      margin-top: 46px; }
      .account-section .account-wrap .tab-pane .man-add .add-btn-block .new-address {
        width: 100%;
        height: 51px;
        border: 1px dashed #7F57F1;
        border-radius: 5px;
        margin-bottom: 12px;
        text-align: left;
        font: 600 14px "Poppins", sans-serif;
        color: #7F57F1;
        display: flex;
        align-items: center; }
        .account-section .account-wrap .tab-pane .man-add .add-btn-block .new-address .plus-icon {
          width: 9px;
          height: 9px;
          margin-right: 10px; }
      .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items {
        background: #FBFAFF;
        border: 1px solid #F5F2FF;
        border-radius: 6px;
        padding: 28px 39px 37px;
        margin-bottom: 20px;
        position: relative; }
        @media (max-width: 1679px) {
          .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items {
            padding: 25px 35px 35px; } }
        @media (max-width: 1367px) {
          .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items {
            padding: 25px 25px 25px; } }
        @media (max-width: 1199px) {
          .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items {
            padding: 15px; } }
        .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .place-block {
          width: 82px;
          height: 32px;
          background: #F4F0FF;
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 22px;
          text-align: left;
          font: normal 12px "Poppins", sans-serif;
          color: #7B51F7; }
          @media (max-width: 1367px) {
            .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .place-block {
              margin-bottom: 15px; } }
        .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .title {
          text-align: left;
          font: 600 16px "Poppins", sans-serif;
          color: #3F346C; }
          @media (max-width: 1367px) {
            .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .title {
              font-size: 14px; } }
        .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .dec,
        .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .mob-txt {
          text-align: left;
          font: normal 16px "Poppins", sans-serif;
          letter-spacing: 0px;
          color: #3F346C; }
          @media (max-width: 1367px) {
            .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .dec,
            .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .mob-txt {
              font-size: 14px; } }
        .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .mob-txt {
          display: block; }
        .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .dropdown {
          position: absolute;
          right: 0px;
          top: 0px; }
          .account-section .account-wrap .tab-pane .man-add .add-btn-block .address-list .address-items .dropdown .btn span {
            width: 3px;
            height: 3px;
            background: #C9B9F8;
            display: block;
            margin-bottom: 2px;
            border: none;
            box-shadow: none;
            outline: none; }

/*# sourceMappingURL=account.css.map */
