/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.banner {
  background: transparent linear-gradient(170deg, #F5F5F5 0%, #C1BCFF 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: calc(100vh - 91px);
  overflow-x: hidden; }
  @media (max-width: 991px) {
    .banner {
      height: auto; } }
  @media (min-width: 1350px) {
    .banner .container {
      max-width: 1300px; } }
  .banner .title-cloned {
    font: normal normal 600 60px/90px "Poppins", sans-serif;
    position: absolute;
    bottom: 108px;
    left: 0px;
    transform: scale(5.5);
    white-space: nowrap;
    color: #A958F0;
    width: auto;
    opacity: 0; }
    @media (max-width: 991px) {
      .banner .title-cloned {
        transform: scale(2.5); } }
  .banner .connect-blk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    flex-direction: column; }
    .banner .connect-blk a {
      display: block;
      margin: 8px 0; }
      @media (max-width: 991px) {
        .banner .connect-blk a {
          margin: 4px 0;
          max-width: 14px; } }
  .banner .banner-slider .slick-slide {
    height: 100%;
    position: relative; }
  @media (min-width: 992px) {
    .banner .banner-slider .slick-track {
      display: flex !important; } }
  @media (min-width: 992px) {
    .banner .banner-slider .slick-slide {
      height: inherit !important; } }
  .banner .banner-slider .slick-dots {
    margin: 0px;
    padding: 0px;
    width: 240px;
    height: 53px;
    right: 160px;
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 991px) {
      .banner .banner-slider .slick-dots {
        bottom: 30px;
        right: 50px;
        height: 40px;
        width: 190px; } }
    @media (max-width: 767px) {
      .banner .banner-slider .slick-dots {
        display: none !important; } }
    .banner .banner-slider .slick-dots li {
      list-style: none;
      position: relative;
      height: 4px;
      margin: 0 2px; }
      .banner .banner-slider .slick-dots li.slick-active:after {
        opacity: 1; }
      .banner .banner-slider .slick-dots li:after {
        content: "";
        width: 24px;
        height: 4px;
        background: #000000;
        opacity: 0.24;
        display: block; }
      .banner .banner-slider .slick-dots li button {
        display: none; }
  .banner .banner-slider .slick-arrow {
    position: absolute;
    bottom: 100px;
    z-index: 2;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    background-color: white;
    border: none;
    text-align: center; }
    @media (max-width: 991px) {
      .banner .banner-slider .slick-arrow {
        width: 40px;
        height: 40px;
        bottom: 30px; } }
    @media (max-width: 767px) {
      .banner .banner-slider .slick-arrow {
        bottom: 50%;
        width: 40px;
        height: 40px; } }
    .banner .banner-slider .slick-arrow.next-arrow {
      right: 150px; }
      @media (max-width: 991px) {
        .banner .banner-slider .slick-arrow.next-arrow {
          right: 50px; } }
      @media (max-width: 767px) {
        .banner .banner-slider .slick-arrow.next-arrow {
          left: calc(100% - 100px); } }
      .banner .banner-slider .slick-arrow.next-arrow:before {
        content: "";
        display: inline-block;
        background: url(/img/right_arrow.svg) no-repeat center;
        height: 53px;
        width: 53px; }
        @media (max-width: 991px) {
          .banner .banner-slider .slick-arrow.next-arrow:before {
            width: 40px;
            height: 40px;
            background-size: 7px; } }
    .banner .banner-slider .slick-arrow.prev-arrow {
      right: 350px;
      background-color: rgba(255, 255, 255, 0.5); }
      @media (max-width: 991px) {
        .banner .banner-slider .slick-arrow.prev-arrow {
          right: 200px; } }
      @media (max-width: 767px) {
        .banner .banner-slider .slick-arrow.prev-arrow {
          right: calc(100% - 100px); } }
      .banner .banner-slider .slick-arrow.prev-arrow:before {
        content: "";
        display: inline-block;
        background: url(/img/left_arrow.svg) no-repeat center;
        height: 53px;
        width: 53px; }
        @media (max-width: 991px) {
          .banner .banner-slider .slick-arrow.prev-arrow:before {
            width: 40px;
            height: 40px;
            background-size: 7px; } }
  .banner .bnr-content {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    @media (max-width: 991px) {
      .banner .bnr-content {
        margin-top: 50px; } }
    .banner .bnr-content .banner-title {
      font: normal normal 700 60px/90px "Poppins", sans-serif;
      color: #451E90;
      position: relative;
      z-index: 2;
      opacity: 0; }
      @media (max-width: 1679px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 50px/60px "Poppins", sans-serif; } }
      @media (max-width: 1480px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 40px/50px "Poppins", sans-serif; } }
      @media (max-width: 1199px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 30px/40px "Poppins", sans-serif; } }
      @media (max-width: 991px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 25px/40px "Poppins", sans-serif; } }
      @media (max-width: 767px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 20px/30px "Poppins", sans-serif; } }
      .banner .bnr-content .banner-title span {
        display: block;
        color: #000000;
        font: normal normal normal 23px/34px "Poppins", sans-serif;
        letter-spacing: 0.55px; }
        @media (max-width: 1679px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 22px/32px "Poppins", sans-serif; } }
        @media (max-width: 1480px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 21px/31px "Poppins", sans-serif; } }
        @media (max-width: 1199px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 20px/30px "Poppins", sans-serif; } }
        @media (max-width: 991px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 18px/30px "Poppins", sans-serif; } }
        @media (max-width: 767px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 14px/24px "Poppins", sans-serif; } }
    .banner .bnr-content .banner-desc {
      font: normal normal 300 21px/34px "Poppins", sans-serif;
      color: #000;
      position: relative;
      z-index: 2;
      opacity: 0; }
      @media (max-width: 1679px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 20px/30px "Poppins", sans-serif; } }
      @media (max-width: 1480px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 19px/29px "Poppins", sans-serif; } }
      @media (max-width: 1199px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 18px/28px "Poppins", sans-serif; } }
      @media (max-width: 991px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 16px/24px "Poppins", sans-serif; } }
      @media (max-width: 767px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 14px/22px "Poppins", sans-serif; } }
    .banner .bnr-content .banner-cta {
      color: #7F57F1;
      font: normal normal 500 14px/21px "Poppins", sans-serif;
      text-decoration: none;
      position: relative;
      padding-left: 40px;
      display: flex;
      align-items: center;
      transition: 0.3s ease-in-out;
      max-width: 220px;
      margin-top: 60px;
      z-index: 2;
      opacity: 0; }
      @media (max-width: 991px) {
        .banner .bnr-content .banner-cta {
          margin-top: 25px;
          margin-bottom: 20px; } }
      .banner .bnr-content .banner-cta::after {
        content: "";
        display: block;
        width: 23px;
        height: 13px;
        background: url(/img/arrow_tail.svg) no-repeat center;
        margin-left: 10px; }
      .banner .bnr-content .banner-cta:before {
        content: "";
        width: 50px;
        height: 50px;
        background-color: #7F57F1;
        opacity: 0.5;
        border-radius: 50px;
        position: absolute;
        left: 0px;
        display: block;
        transition: 0.3s ease-in-out; }
      .banner .bnr-content .banner-cta:hover:before {
        width: 100%;
        border-radius: 50px; }
      .banner .bnr-content .banner-cta:hover span {
        color: #Fff;
        position: relative;
        z-index: 1; }
      .banner .bnr-content .banner-cta:hover::after {
        filter: brightness(20.5); }
  .banner .bnr-img {
    position: relative;
    z-index: 2; }
    @media (min-width: 992px) {
      .banner .bnr-img.mt-50 {
        margin-top: 50px; } }
    @media (max-width: 991px) {
      .banner .bnr-img.mt-50 {
        margin-top: 50px; } }
    .banner .bnr-img img {
      max-width: 460px;
      opacity: 0; }
      @media (max-width: 991px) {
        .banner .bnr-img img {
          max-width: 70%; } }
      @media (max-width: 767px) {
        .banner .bnr-img img {
          max-width: 50%;
          margin: 0 auto; } }
  .banner .slick-current .title-cloned {
    opacity: 0.1;
    -webkit-animation: linear;
    -webkit-animation-name: forward;
    -webkit-animation-duration: 5s; }
  .banner .slick-current .bnr-img img {
    opacity: 1; }
  .banner .slick-current .banner-title {
    opacity: 1; }
  .banner .slick-current .banner-desc {
    opacity: 1; }
  .banner .slick-current .banner-cta {
    opacity: 1; }

@-webkit-keyframes forward {
  0% {
    left: -100px;
    opacity: 0; }
  50% {
    left: 0px;
    opacity: 0.1; }
  100% {
    left: 100px;
    opacity: 0.1; } }
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

/*# sourceMappingURL=banner.css.map */
