/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.banner {
  background: transparent linear-gradient(170deg, #F5F5F5 0%, #C1BCFF 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: calc(100vh - 91px);
  overflow: hidden;
  position: relative; }
  @media (max-width: 11480px) {
    .banner {
      max-height: 700px; } }
  @media (max-width: 1199px) {
    .banner {
      height: auto; } }
  @media (min-width: 1350px) {
    .banner .container {
      max-width: 1300px; } }
  .banner .title-cloned {
    font: normal normal 600 60px/90px "Poppins", sans-serif;
    position: absolute;
    bottom: 108px;
    left: 0px;
    transform: scale(5.5);
    white-space: nowrap;
    color: #A958F0;
    width: 100%;
    opacity: 0;
    text-align: center; }
    @media (max-width: 991px) {
      .banner .title-cloned {
        transform: scale(2.5); } }
  .banner .connect-blk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    flex-direction: column; }
    @media (max-width: 767px) {
      .banner .connect-blk {
        display: none; } }
    .banner .connect-blk a {
      display: block;
      margin: 8px 0;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
      @media (max-width: 991px) {
        .banner .connect-blk a {
          margin: 4px 0;
          max-width: 14px; } }
      .banner .connect-blk a:hover {
        transform: scale(1.3); }
  .banner .banner-slider {
    height: 100%;
    margin-bottom: 0; }
    .banner .banner-slider .slick-list {
      height: 100%; }
    .banner .banner-slider .slick-slide {
      height: 100%;
      position: relative; }
    @media (min-width: 992px) {
      .banner .banner-slider .slick-track {
        display: flex !important;
        height: 100%; } }
    @media (min-width: 992px) {
      .banner .banner-slider .slick-slide {
        height: 100% !important;
        display: flex; } }
  .banner .bnr-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto; }
    @media (max-width: 991px) {
      .banner .bnr-content {
        margin-top: 50px; } }
    .banner .bnr-content .banner-title {
      font: normal normal 700 60px/90px "Poppins", sans-serif;
      color: #451E90;
      position: relative;
      z-index: 2;
      opacity: 0;
      margin-bottom: 10px; }
      @media (max-width: 1679px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 50px/60px "Poppins", sans-serif; } }
      @media (max-width: 1480px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 40px/50px "Poppins", sans-serif; } }
      @media (max-width: 1199px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 30px/40px "Poppins", sans-serif; } }
      @media (max-width: 991px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 25px/40px "Poppins", sans-serif; } }
      @media (max-width: 767px) {
        .banner .bnr-content .banner-title {
          font: normal normal 700 20px/30px "Poppins", sans-serif; } }
      .banner .bnr-content .banner-title span {
        display: block;
        color: #000000;
        font: normal normal normal 23px/34px "Poppins", sans-serif;
        letter-spacing: 0.55px; }
        @media (max-width: 1679px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 22px/32px "Poppins", sans-serif; } }
        @media (max-width: 1480px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 21px/31px "Poppins", sans-serif; } }
        @media (max-width: 1199px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 20px/30px "Poppins", sans-serif; } }
        @media (max-width: 991px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 18px/30px "Poppins", sans-serif; } }
        @media (max-width: 767px) {
          .banner .bnr-content .banner-title span {
            font: normal normal normal 14px/24px "Poppins", sans-serif; } }
    .banner .bnr-content .banner-desc {
      font: normal normal 300 21px/34px "Poppins", sans-serif;
      color: #000;
      position: relative;
      z-index: 2;
      opacity: 0; }
      @media (max-width: 1679px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 20px/30px "Poppins", sans-serif; } }
      @media (max-width: 1480px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 19px/29px "Poppins", sans-serif; } }
      @media (max-width: 1199px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 18px/28px "Poppins", sans-serif; } }
      @media (max-width: 991px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 16px/24px "Poppins", sans-serif; } }
      @media (max-width: 767px) {
        .banner .bnr-content .banner-desc {
          font: normal normal 300 14px/22px "Poppins", sans-serif; } }
    .banner .bnr-content .banner-cta {
      color: #7F57F1;
      font: normal normal 500 14px/21px "Poppins", sans-serif;
      text-decoration: none;
      position: relative;
      padding-left: 40px;
      display: flex;
      align-items: center;
      transition: 0.3s ease-in-out;
      max-width: 220px;
      margin-top: 60px;
      z-index: 2;
      opacity: 0; }
      @media (max-width: 991px) {
        .banner .bnr-content .banner-cta {
          margin-top: 25px;
          margin-bottom: 100px; } }
      @media (max-width: 767px) {
        .banner .bnr-content .banner-cta {
          margin-top: 10px;
          margin-bottom: 20px; } }
      @media (max-width: 579px) {
        .banner .bnr-content .banner-cta {
          padding-left: 15px;
          font-size: 12px; } }
      .banner .bnr-content .banner-cta::after {
        content: "";
        display: block;
        width: 23px;
        height: 13px;
        background: url(../img/arrow_tail_bnr.svg) no-repeat center;
        margin-left: 10px; }
        @media (max-width: 579px) {
          .banner .bnr-content .banner-cta::after {
            width: 15px;
            height: 13px;
            background-size: contain; } }
      .banner .bnr-content .banner-cta:before {
        content: "";
        width: 50px;
        height: 50px;
        background-color: #7F57F1;
        opacity: 0.5;
        border-radius: 50px;
        position: absolute;
        left: 0px;
        display: block;
        transition: 0.3s ease-in-out; }
        @media (max-width: 579px) {
          .banner .bnr-content .banner-cta:before {
            width: 30px;
            height: 30px; } }
      .banner .bnr-content .banner-cta:hover:before {
        width: 100%;
        border-radius: 50px; }
      .banner .bnr-content .banner-cta:hover span {
        color: #Fff;
        position: relative;
        z-index: 1; }
      .banner .bnr-content .banner-cta:hover::after {
        filter: brightness(20.5); }
  .banner .bnr-img {
    position: relative;
    z-index: 2; }
    @media (min-width: 992px) {
      .banner .bnr-img.mt-50 {
        margin-top: 50px; } }
    @media (max-width: 991px) {
      .banner .bnr-img.mt-50 {
        margin-top: 50px; } }
    .banner .bnr-img img {
      max-width: 460px;
      opacity: 0; }
      @media (max-width: 1199px) {
        .banner .bnr-img img {
          max-width: 65%; } }
      @media (max-width: 991px) {
        .banner .bnr-img img {
          max-width: 70%; } }
      @media (max-width: 767px) {
        .banner .bnr-img img {
          max-width: 50%;
          margin: 0 auto; } }
  .banner .slick-current .title-cloned {
    opacity: 0.1;
    -webkit-animation: linear;
    -webkit-animation-name: forward;
    -webkit-animation-duration: 5s; }
  .banner .slick-current .bnr-img img {
    opacity: 1; }
  .banner .slick-current .banner-title {
    opacity: 1; }
  .banner .slick-current .banner-desc {
    opacity: 1; }
  .banner .slick-current .banner-cta {
    opacity: 1; }
  .banner .slider-arrow-nav {
    width: 100%;
    height: 56px;
    position: absolute;
    right: 0px;
    bottom: 100px; }
    @media (max-width: 1199px) {
      .banner .slider-arrow-nav {
        bottom: 40px; } }
    @media (max-width: 579px) {
      .banner .slider-arrow-nav {
        bottom: 30px; } }
    .banner .slider-arrow-nav .container {
      display: flex;
      justify-content: flex-end;
      max-width: 1035px;
      position: relative;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-right: auto;
      margin-left: auto; }
      @media (max-width: 1199px) {
        .banner .slider-arrow-nav .container {
          max-width: 940px; } }
      @media (max-width: 991px) {
        .banner .slider-arrow-nav .container {
          max-width: 500px;
          justify-content: flex-end; } }
      @media (max-width: 767px) {
        .banner .slider-arrow-nav .container {
          max-width: 100%;
          justify-content: center; } }
    .banner .slider-arrow-nav .slick-arrow {
      z-index: 2;
      width: 56px;
      height: 56px;
      border-radius: 50px;
      background-color: white;
      border: none;
      text-align: center; }
      @media (max-width: 1199px) {
        .banner .slider-arrow-nav .slick-arrow {
          width: 40px;
          height: 40px; } }
      @media (max-width: 579px) {
        .banner .slider-arrow-nav .slick-arrow {
          width: 40px;
          height: 40px; } }
      .banner .slider-arrow-nav .slick-arrow.next-arrow:before {
        content: "";
        display: inline-block;
        background: url(../img/right_arrow_bnr.svg) no-repeat center;
        height: 56px;
        width: 56px; }
        @media (max-width: 1199px) {
          .banner .slider-arrow-nav .slick-arrow.next-arrow:before {
            width: 40px;
            height: 40px;
            background-size: 7px; } }
      .banner .slider-arrow-nav .slick-arrow.prev-arrow {
        background-color: rgba(255, 255, 255, 0.5);
        margin-right: 200px; }
        @media (max-width: 991px) {
          .banner .slider-arrow-nav .slick-arrow.prev-arrow {
            margin-right: 100px; } }
        .banner .slider-arrow-nav .slick-arrow.prev-arrow:before {
          content: "";
          display: inline-block;
          background: url(../img/left_arrow.svg) no-repeat center;
          height: 56px;
          width: 56px; }
          @media (max-width: 1199px) {
            .banner .slider-arrow-nav .slick-arrow.prev-arrow:before {
              width: 40px;
              height: 40px;
              background-size: 7px; } }
    .banner .slider-arrow-nav .slick-dots {
      margin: 0px;
      padding: 0px;
      width: 325px;
      height: 56px;
      position: absolute;
      bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 1199px) {
        .banner .slider-arrow-nav .slick-dots {
          height: 40px;
          width: 285px; } }
      @media (max-width: 991px) {
        .banner .slider-arrow-nav .slick-dots {
          width: 182px;
          height: 40px; } }
      .banner .slider-arrow-nav .slick-dots li {
        list-style: none;
        position: relative;
        height: 4px;
        margin: 0 2px; }
        .banner .slider-arrow-nav .slick-dots li.slick-active:after {
          opacity: 1; }
        .banner .slider-arrow-nav .slick-dots li:after {
          content: "";
          width: 24px;
          height: 4px;
          background: #000000;
          opacity: 0.24;
          display: block; }
        .banner .slider-arrow-nav .slick-dots li button {
          display: none; }

.bottom-top {
  display: flex; }
  .bottom-top .bnr-img {
    margin-top: auto; }

.top-bottom {
  display: flex;
  align-items: center; }
  @media (min-width: 1200px) {
    .top-bottom {
      margin-top: 0px; } }
  @media (min-width: 992px) {
    .top-bottom {
      margin-top: 100px; } }

/*# sourceMappingURL=banner.css.map */
