@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
a {
  text-decoration: none;
  cursor: pointer; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
  color: #292929; }

::selection {
  background: #7F57F1;
  color: #bdbdbd; }

.main {
  padding-top: 50px; }

.btn {
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: all ease-in-out 0.3s;
  padding: 16px 20px; }
  @media screen and (max-width: 1200px) {
    .btn {
      padding: 12px 20px;
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    .btn {
      padding: 12px 20px;
      font-size: 13px; } }
  .btn-sm {
    font-size: 13px;
    padding: 12px 30px; }
    @media screen and (max-width: 768px) {
      .btn-sm {
        padding: 10px 20px;
        font-size: 12px; } }
  .btn:focus {
    box-shadow: none;
    outline: none; }
  .btn-primary {
    border: 1px solid transparent;
    background: #7F57F1;
    background: linear-gradient(180deg, #7F57F1 0%, #2C00AA 60%); }
    .btn-primary:hover {
      background: linear-gradient(180deg, #7F57F1 0%, #2C00AA 90%); }
  .btn-secondary {
    background-color: #F3F0FF;
    color: #6348B2;
    border: 1px solid #F3F0FF; }
    .btn-secondary:hover, .btn-secondary:active {
      background-color: #F3F0FF !important;
      border: 1px solid #F3F0FF !important;
      color: #000000 !important; }
  .btn-outline {
    border: 1px solid #B9B9B9;
    background-color: #ffffff;
    color: #000000; }
    .btn-outline:hover {
      background-color: #ffffff;
      border: 1px solid #B9B9B9; }
  .btn-dark {
    background-color: #1B1334;
    color: #ffffff; }

.container-custom {
  max-width: calc(100% - 40px); }
  @media screen and (min-width: 1440px) {
    .container-custom {
      max-width: 1360px; } }
  @media screen and (max-width: 576px) {
    .container-custom {
      max-width: calc(100% - 20px); } }

.products-card {
  background: #F8F9FD;
  border-radius: 4px;
  padding: 30px 45px;
  position: relative; }
  @media (max-width: 1281px) {
    .products-card {
      padding: 30px; } }
  @media (max-width: 991px) {
    .products-card {
      padding: 20px; } }
  .products-card .products-card-header .btn-add-fav {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 27px;
    height: 24px;
    padding: 0; }
    .products-card .products-card-header .btn-add-fav .product-like {
      position: absolute;
      width: 27px;
      height: 24px;
      right: 0;
      top: 0; }
      .products-card .products-card-header .btn-add-fav .product-like.product-like-fill {
        opacity: 0; }
    .products-card .products-card-header .btn-add-fav:hover .product-like-fill {
      opacity: 1; }
    .products-card .products-card-header .btn-add-fav:hover .product-like-line {
      opacity: 0; }
    .products-card .products-card-header .btn-add-fav.isActive .product-like-fill {
      opacity: 1; }
    .products-card .products-card-header .btn-add-fav.isActive .product-like-line {
      opacity: 0; }
  .products-card .products-card-header .product-img {
    display: block;
    margin: auto;
    width: 339px;
    object-fit: contain;
    height: 220px; }
    @media (max-width: 1679px) {
      .products-card .products-card-header .product-img {
        width: 320px;
        height: 200px; } }
    @media (max-width: 1441px) {
      .products-card .products-card-header .product-img {
        width: 290px;
        height: 190px; } }
    @media (max-width: 1281px) {
      .products-card .products-card-header .product-img {
        width: 270px;
        height: 170px; } }
  .products-card .products-card-body .product-txt {
    margin-top: 75px; }
    @media (max-width: 1679px) {
      .products-card .products-card-body .product-txt {
        margin-top: 50px; } }
    @media (max-width: 1281px) {
      .products-card .products-card-body .product-txt {
        margin-top: 30px; } }
    @media (max-width: 1023px) {
      .products-card .products-card-body .product-txt {
        margin-top: 20px; } }
    @media (max-width: 991px) {
      .products-card .products-card-body .product-txt {
        margin-top: 5px; } }
    .products-card .products-card-body .product-txt h6 {
      text-align: left;
      font: 600 23px "Poppins", sans-serif;
      letter-spacing: 0px;
      color: #000000;
      margin-bottom: 6px; }
      @media (max-width: 1679px) {
        .products-card .products-card-body .product-txt h6 {
          font-size: 20px; } }
      @media (max-width: 1367px) {
        .products-card .products-card-body .product-txt h6 {
          font-size: 18px; } }
      @media (max-width: 1281px) {
        .products-card .products-card-body .product-txt h6 {
          font-size: 16px; } }
      @media (max-width: 991px) {
        .products-card .products-card-body .product-txt h6 {
          font-size: 16px; } }
      @media (max-width: 768px) {
        .products-card .products-card-body .product-txt h6 {
          text-align: center; } }
    .products-card .products-card-body .product-txt span {
      text-align: left;
      font: 300 22px "Poppins", sans-serif;
      letter-spacing: 0px;
      color: #000000; }
      @media (max-width: 1679px) {
        .products-card .products-card-body .product-txt span {
          font-size: 16px; } }
      @media (max-width: 1281px) {
        .products-card .products-card-body .product-txt span {
          font-size: 14px; } }
      @media (max-width: 768px) {
        .products-card .products-card-body .product-txt span {
          text-align: center;
          display: block; } }
  .products-card .products-card-footer .price-block {
    display: flex;
    align-items: center;
    margin-top: 31px; }
    @media (max-width: 1679px) {
      .products-card .products-card-footer .price-block {
        margin-top: 20px; } }
    @media (max-width: 1281px) {
      .products-card .products-card-footer .price-block {
        margin-top: 10px; } }
    @media (max-width: 768px) {
      .products-card .products-card-footer .price-block {
        flex-direction: column;
        margin-top: 18px; } }
    .products-card .products-card-footer .price-block .price {
      text-align: left;
      font: 600 22px "Poppins", sans-serif;
      letter-spacing: 0px;
      color: #000000; }
      @media (max-width: 1679px) {
        .products-card .products-card-footer .price-block .price {
          font-size: 18px; } }
      @media (max-width: 1281px) {
        .products-card .products-card-footer .price-block .price {
          font-size: 16px; } }
      @media (max-width: 1199px) {
        .products-card .products-card-footer .price-block .price {
          font-size: 14px; } }
    .products-card .products-card-footer .price-block .view-block {
      margin: auto;
      margin-right: 0; }
      @media (max-width: 768px) {
        .products-card .products-card-footer .price-block .view-block {
          margin: auto; } }
      .products-card .products-card-footer .price-block .view-block .btn {
        text-align: left;
        font: 500 14px "Poppins", sans-serif;
        letter-spacing: 0px;
        color: #000000;
        position: relative;
        z-index: 999; }
        .products-card .products-card-footer .price-block .view-block .btn img {
          margin-left: 5px; }
        .products-card .products-card-footer .price-block .view-block .btn::before {
          content: '';
          display: block;
          width: 53px;
          height: 53px;
          border-radius: 100px;
          position: absolute;
          background: #FFFFFF;
          opacity: 0.8;
          left: -19px;
          top: 0;
          bottom: 0;
          margin: auto;
          z-index: -1; }
          @media (max-width: 1679px) {
            .products-card .products-card-footer .price-block .view-block .btn::before {
              width: 46px;
              height: 46px;
              left: -15px; } }
          @media (max-width: 1441px) {
            .products-card .products-card-footer .price-block .view-block .btn::before {
              width: 38px;
              height: 38px;
              left: -5px; } }
          @media (max-width: 1281px) {
            .products-card .products-card-footer .price-block .view-block .btn::before {
              width: 30px;
              height: 30px;
              left: 13px; } }
          @media (max-width: 1023px) {
            .products-card .products-card-footer .price-block .view-block .btn::before {
              width: 30px;
              height: 30px;
              left: 0px; } }
          @media (max-width: 768px) {
            .products-card .products-card-footer .price-block .view-block .btn::before {
              left: 10px; } }

.custom-scroll::-webkit-scrollbar {
  width: 5px; }

.custom-scroll::-webkit-scrollbar-track {
  background: #2C00AA; }

.custom-scroll::-webkit-scrollbar-thumb {
  background: #bca5fc; }

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #bca5fc; }

/*# sourceMappingURL=common.css.map */
