@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
@media (min-width: 1679px) {
  .container-1350 {
    max-width: 1350px; } }
.footer-sec {
  font-family: "Poppins", sans-serif;
  background-color: #5B33D0;
  padding: 50px 0; }
  @media (max-width: 1679px) {
    .footer-sec {
      padding: 30px 0; } }
  @media (max-width: 1441px) {
    .footer-sec {
      padding: 25px 0; } }
  @media (max-width: 1199px) {
    .footer-sec {
      padding: 20px 0; } }
  .footer-sec .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .footer-sec .footer-wrapper .f-logo {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 767px) {
        .footer-sec .footer-wrapper .f-logo {
          flex: 0 0 100%;
          max-width: 100%; } }
      .footer-sec .footer-wrapper .f-logo a {
        display: inline-block; }
        .footer-sec .footer-wrapper .f-logo a img {
          max-height: 40px;
          object-fit: contain;
          filter: brightness(0) invert(1); }
    .footer-sec .footer-wrapper .f-qk-links {
      display: flex;
      align-items: center; }
      @media (max-width: 767px) {
        .footer-sec .footer-wrapper .f-qk-links {
          flex: 0 0 100%;
          max-width: 100%;
          padding-top: 20px;
          justify-content: center; } }
      .footer-sec .footer-wrapper .f-qk-links .link-m {
        padding-right: 15px;
        display: inline-flex; }
        .footer-sec .footer-wrapper .f-qk-links .link-m .qk-link {
          display: inline-block;
          color: #fff;
          font-size: 18px;
          transition: .3s; }
          @media (max-width: 1679px) {
            .footer-sec .footer-wrapper .f-qk-links .link-m .qk-link {
              font-size: 16px; } }
          @media (max-width: 1441px) {
            .footer-sec .footer-wrapper .f-qk-links .link-m .qk-link {
              font-size: 14px; } }
          @media (max-width: 1199px) {
            .footer-sec .footer-wrapper .f-qk-links .link-m .qk-link {
              font-size: 13px; } }
      .footer-sec .footer-wrapper .f-qk-links .f-soc-block {
        display: flex;
        align-items: center; }
        .footer-sec .footer-wrapper .f-qk-links .f-soc-block .f-soc {
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 43px;
          height: 43px;
          padding: 2px;
          background-color: #684FD1;
          border-radius: 50%;
          margin-left: 25px;
          transition: .3s; }
          .footer-sec .footer-wrapper .f-qk-links .f-soc-block .f-soc img {
            width: 50%;
            height: 50%;
            object-fit: contain; }
          @media (max-width: 767px) {
            .footer-sec .footer-wrapper .f-qk-links .f-soc-block .f-soc {
              width: 32px;
              height: 32px;
              margin-left: 10px; } }
          .footer-sec .footer-wrapper .f-qk-links .f-soc-block .f-soc:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.3); }

.copyright-sec {
  background-color: #321A89;
  padding: 35px 15px; }
  @media (max-width: 1679px) {
    .copyright-sec {
      padding: 30px 15px; } }
  @media (max-width: 1441px) {
    .copyright-sec {
      padding: 25px 15px; } }
  @media (max-width: 1199px) {
    .copyright-sec {
      padding: 20px 15px; } }
  @media (max-width: 767px) {
    .copyright-sec {
      padding: 18px 15px; } }
  .copyright-sec p {
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center; }
    @media (max-width: 1679px) {
      .copyright-sec p {
        font-size: 18px; } }
    @media (max-width: 1441px) {
      .copyright-sec p {
        font-size: 16px; } }
    @media (max-width: 1199px) {
      .copyright-sec p {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .copyright-sec p {
        font-size: 13px; } }

.btn--6 {
  position: relative;
  border: 0;
  cursor: pointer;
  background-color: transparent; }
  .btn--6 .btn__text {
    position: relative;
    z-index: 1; }
  .btn--6::before, .btn--6::after {
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 0;
    background-color: #7F57F1;
    content: ""; }
  .btn--6::before {
    left: 0; }
  .btn--6::after {
    right: 0;
    transition: width .4s; }
  .btn--6:hover::before {
    width: 100%;
    transition: width .3s; }
  .btn--6:hover::after {
    background-color: transparent;
    width: 100%; }

/*# sourceMappingURL=footer.css.map */
