@import "partials/partials";

.account-section {
    margin-top: 60px;

    @media ($sm-1367) {
        margin-top: 40px;
    }

    @media ($sm-1367) {
        margin-top: 30px;
    }

    .account-wrap {
        max-width: 765px;
        margin: auto;


        .nav-pills {
            justify-content: center;

            li {
                &:first-child {
                    margin-right: 75px;

                    @media ($sm-1679) {
                        margin-right: 50px;
                    }

                    @media ($sm-1367) {
                        margin-right: 40px;
                    }

                    @media ($sm-1199) {
                        margin-right: 30px;
                    }

                    @media ($sm-1023) {
                        margin-right: 20px;
                    }

                    @media ($sm-767) {
                        margin-right: 10px;
                    }
                }

                a {
                    color: #C7C7C7;
                    background: transparent !important;
                    text-align: center;
                    text-decoration: underline;
                    font: 600 19px $poppins;

                    @media ($sm-1679) {
                        font-size: 16px;
                    }

                    @media ($sm-1199) {
                        font-size: 14px;
                    }

                    @media ($sm-479) {
                        font-size: 12px;
                        padding: 0 8px;
                    }

                    &.active {
                        color: #7F57F1;
                    }
                }

            }
        }

        .tab-pane {
            .pro-info-block {
                max-width: 100%;
                margin: auto;

                .pro-info-pic {
                    margin-top: 65px;
                    width: 100%;
                    position: relative;
                    margin-bottom: 58px;

                    @media ($sm-1679) {
                        margin-top: 45px;
                        margin-bottom: 38px;
                    }

                    @media ($sm-1281) {
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }

                    @media ($sm-1199) {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

                    .pic-edit {
                        position: absolute;
                        right: 0;

                        .btn {
                            padding: 0;

                            .edit {
                                @media ($sm-991) {
                                    width: 15px;
                                    height: 15px;
                                    object-fit: contain;
                                }
                            }
                        }
                    }

                    .pro-pics {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 150px;
                        height: 150px;
                        padding: 8px;
                        margin: auto;
                        background: #E8E0FF;
                        border-radius: 100px;

                        @media ($sm-1679) {
                            width: 140px;
                            height: 140px;
                        }

                        @media ($sm-1367) {
                            width: 110px;
                            height: 110px;
                        }

                        .pic {
                            width: 134px;
                            height: 134px;
                            object-fit: contain;

                            @media ($sm-1679) {
                                width: 120px;
                                height: 120px;
                            }

                            @media ($sm-1367) {
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }
                }

                .pro-info-form {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    gap: 0 59px;
                    flex-wrap: wrap;

                    @media ($sm-1679) {
                        gap: 0 49px;
                    }

                    @media ($sm-1367) {
                        gap: 0 40px;
                    }

                    @media ($sm-1199) {
                        gap: 0 30px;
                    }

                    .form-block {
                        width: 341px;
                        flex-basis: 341px;
                        margin-bottom: 40px;
                        padding-bottom: 10px;
                        position: relative;

                        @media ($sm-1679) {
                            width: 345px;
                            flex-basis: 345px;
                        }

                        @media ($sm-1367) {
                            width: 345px;
                            flex-basis: 345px;
                        }

                        @media ($sm-1281) {
                            width: 350px;
                            flex-basis: 350px;
                        }

                        @media ($sm-1281) {
                            width: 355px;
                            flex-basis: 355px;
                        }

                        @media ($sm-1023) {
                            width: 100%;
                            flex-basis: 100%;
                        }

                        .form-label {
                            text-align: left;
                            font: normal 17px $raleway;
                            color: #000000;
                            margin-bottom: 7px;
                            display: flex;
                            align-items: center;

                            @media ($sm-1679) {
                                font-size: 15px;
                            }

                            @media ($sm-1367) {
                                font-size: 14px;
                            }

                            .btn {
                                padding: 0;
                                text-align: left;
                                text-decoration: underline;
                                font: 500 17px $raleway;
                                color: #7F57F1;
                                margin-left: 9px;

                                @media ($sm-1679) {
                                    font-size: 15px;
                                }

                                @media ($sm-1367) {
                                    font-size: 14px;
                                }
                            }
                        }

                        .form-control {
                            height: 59px;
                            background: #F7F5FF;
                            border-radius: 6px;
                            border: none;
                            text-align: left;
                            font: normal 17px $raleway;
                            color: #000000;

                            @media ($sm-1679) {
                                height: 48px;
                            }

                            @media ($sm-1367) {
                                height: 44px;
                                font-size: 15px;
                            }

                            @media ($sm-1199) {
                                font-size: 14px;
                            }

                            &:focus {
                                box-shadow: none;
                                border: none;
                            }
                        }

                        .val-msg {
                            position: absolute;
                            left: 0;
                            top: 100%;
                            align-items: center;
                            padding-top: 8px;
                            font-size: 12px;
                            font-weight: 500;
                            color: #FF4141;

                            img {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            .man-add {
                margin-top: 46px;

                .add-btn-block {
                    .new-address {
                        width: 100%;
                        height: 51px;
                        border: 1px dashed #7F57F1;
                        border-radius: 5px;
                        margin-bottom: 12px;
                        text-align: left;
                        font: 600 14px $poppins;
                        color: #7F57F1;
                        display: flex;
                        align-items: center;

                        .plus-icon {
                            width: 9px;
                            height: 9px;
                            margin-right: 10px;
                        }
                    }

                    .address-list {
                        .address-items {
                            background: #FBFAFF;
                            border: 1px solid #F5F2FF;
                            border-radius: 6px;
                            padding: 28px 39px 37px;
                            margin-bottom: 20px;

                            @media ($sm-1679) {
                                padding: 25px 35px 35px;
                            }

                            @media ($sm-1367) {
                                padding: 25px 25px 25px;
                            }
                            @media ($sm-1199) {
                                padding: 15px;
                            }

                            .place-block {
                                width: 82px;
                                height: 32px;
                                background: #F4F0FF;
                                border-radius: 7px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 22px;
                                text-align: left;
                                font: normal 12px $poppins;
                                color: #7B51F7;

                                @media ($sm-1367) {
                                    margin-bottom: 15px;
                                }
                            }

                            .title {
                                text-align: left;
                                font: 600 16px $poppins;
                                color: #3F346C;

                                @media ($sm-1367) {
                                    font-size: 14px;
                                }
                            }

                            .dec,
                            .mob-txt {
                                text-align: left;
                                font: normal 16px $poppins;
                                letter-spacing: 0px;
                                color: #3F346C;

                                @media ($sm-1367) {
                                    font-size: 14px;
                                }
                            }

                            .mob-txt {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}