@import "partials/partials";

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

// Brand Font
body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    color: #292929; // default color
}

::selection {
    background: #7F57F1;
    color: #bdbdbd;
}

.main {
    padding-top: 50px;
}

.btn {
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all ease-in-out 0.3s;
    padding: 16px 20px;
    @media screen and (max-width: 1200px){
        padding: 12px 20px;
        font-size: 14px;
    }
    @media screen and (max-width: 768px){
        padding: 12px 20px;
        font-size: 13px;
    }
    &-sm {
        font-size: 13px;
        padding: 12px 30px;
        @media screen and (max-width: 768px){
            padding: 10px 20px;
            font-size: 12px;
        }
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &-primary {
        border: 1px solid transparent;
        background: $purple;
        background: linear-gradient(180deg, $purple 0%, $purpleDark 60%);

        &:hover {
            background: linear-gradient(180deg, $purple 0%, $purpleDark 90%);
        }
    }

    &-secondary {
        background-color: $purpleLighter;
        color: $purpleTxt;
        border: 1px solid $purpleLighter;

        &:hover,
        &:active {
            background-color: $purpleLighter !important;
            border: 1px solid $purpleLighter !important;
            color: #000000 !important;
        }
    }

    &-outline {
        border: 1px solid #B9B9B9;
        background-color: #ffffff;
        color: #000000;

        &:hover {
            background-color: #ffffff;
            border: 1px solid #B9B9B9;
        }
    }

    &-dark {
        background-color: #1B1334;
        color: #ffffff;
    }
}

// custom container
.container-custom {
    max-width: calc(100% - 40px);

    @media screen and (min-width: 1440px) {
        max-width: 1360px;
    }

    @media screen and (max-width: 576px) {
        max-width: calc(100% - 20px)
    }
}

.products-card {
    background: #F8F9FD;
    border-radius: 4px;
    padding: 30px 45px;
    position: relative;

    @media (max-width:1281px) {
        padding: 30px;
    }

    @media (max-width:991px) {
        padding: 20px;
    }

    .products-card-header {
        .btn-add-fav {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 27px;
            height: 24px;
            padding: 0;

            .product-like {
                position: absolute;
                width: 27px;
                height: 24px;
                right: 0;
                top: 0;

                &.product-like-fill {
                    opacity: 0;
                }

            }

            &:hover {
                .product-like-fill {
                    opacity: 1;
                }

                .product-like-line {
                    opacity: 0;
                }
            }

            &.isActive {
                .product-like-fill {
                    opacity: 1;
                }

                .product-like-line {
                    opacity: 0;
                }
            }
        }


        .product-img {
            display: block;
            margin: auto;
            width: 339px;
            object-fit: contain;
            height: 220px;

            @media (max-width:1679px) {
                width: 320px;
                height: 200px;
            }

            @media (max-width:1441px) {
                width: 290px;
                height: 190px;
            }

            @media (max-width:1281px) {
                width: 270px;
                height: 170px;
            }
        }
    }

    .products-card-body {
        .product-txt {
            margin-top: 75px;

            @media (max-width:1679px) {
                margin-top: 50px;
            }

            @media (max-width:1281px) {
                margin-top: 30px;
            }

            @media (max-width:1023px) {
                margin-top: 20px;
            }

            @media (max-width:991px) {
                margin-top: 5px;
            }

            h6 {
                text-align: left;
                font: 600 23px $poppins;
                letter-spacing: 0px;
                color: #000000;
                margin-bottom: 6px;

                @media (max-width:1679px) {
                    font-size: 20px;
                }

                @media (max-width:1367px) {
                    font-size: 18px;
                }

                @media (max-width:1281px) {
                    font-size: 16px;
                }

                @media (max-width:991px) {
                    font-size: 16px;
                }

                @media (max-width:768px) {
                    text-align: center;
                }


            }

            span {
                text-align: left;
                font: 300 22px $poppins;
                letter-spacing: 0px;
                color: #000000;

                @media (max-width:1679px) {
                    font-size: 16px;
                }

                @media (max-width:1281px) {
                    font-size: 14px;
                }

                @media (max-width:768px) {
                    text-align: center;
                    display: block;
                }
            }
        }
    }

    .products-card-footer {
        .price-block {
            display: flex;
            align-items: center;
            margin-top: 31px;

            @media (max-width:1679px) {
                margin-top: 20px;
            }

            @media (max-width:1281px) {
                margin-top: 10px;
            }

            @media (max-width:768px) {
                flex-direction: column;
                margin-top: 18px;
            }

            .price {
                text-align: left;
                font: 600 22px $poppins;
                letter-spacing: 0px;
                color: #000000;

                @media (max-width:1679px) {
                    font-size: 18px;
                }

                @media (max-width:1281px) {
                    font-size: 16px;
                }

                @media (max-width:1199px) {
                    font-size: 14px;
                }

            }

            .view-block {
                margin: auto;
                margin-right: 0;

                @media (max-width:768px) {
                    margin: auto;
                }

                .btn {
                    text-align: left;
                    font: 500 14px $poppins;
                    letter-spacing: 0px;
                    color: #000000;
                    position: relative;
                    z-index: 999;

                    img {
                        margin-left: 5px;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 53px;
                        height: 53px;
                        border-radius: 100px;
                        position: absolute;
                        background: #FFFFFF;
                        opacity: 0.8;
                        left: -19px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        z-index: -1;

                        @media (max-width:1679px) {
                            width: 46px;
                            height: 46px;
                            left: -15px;
                        }

                        @media (max-width:1441px) {
                            width: 38px;
                            height: 38px;
                            left: -5px;
                        }

                        @media (max-width:1281px) {
                            width: 30px;
                            height: 30px;
                            left: 13px;
                        }

                        @media (max-width:1023px) {
                            width: 30px;
                            height: 30px;
                            left: 0px;
                        }
                        @media (max-width:768px) {
                            left: 10px;
                        }
                    }
                }
            }
        }
    }
}