@import "partials/partials";

@media(min-width: 1679px) {
    .container-1350 {
        max-width: 1350px;
    }
}

.footer-sec {
    font-family: $poppins;
    background-color: #5B33D0;
    padding: 50px 0;

    @media ($sm-1679) {
        padding: 30px 0;
    }

    @media ($sm-1441) {
        padding: 25px 0;
    }

    @media ($sm-1199) {
        padding: 20px 0;
    }

    .footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .f-logo {
            display: flex;
            align-items: center;
            justify-content: center;

            @media ($sm-767) {
                flex: 0 0 100%;
                max-width: 100%;
            }

            a {
                display: inline-block;

                img {
                    max-height: 40px;
                    object-fit: contain;
                    filter: brightness(0) invert(1);
                }
            }
        }

        .f-qk-links {
            display: flex;
            align-items: center;


            @media ($sm-767) {
                flex: 0 0 100%;
                max-width: 100%;
                padding-top: 20px;
                justify-content: center;
            }

            .link-m {
                padding-right: 15px;
                display: inline-flex;

                .qk-link {
                    display: inline-block;
                    color: #fff;
                    font-size: 18px;
                    transition: .3s;
                    text-decoration: none;
                    text-align: left;
                    font: normal 18px $poppins;
                    color: #FFFFFF;

                    @media ($sm-1679) {
                        font-size: 16px;
                    }

                    @media ($sm-1441) {
                        font-size: 14px;
                    }

                    @media ($sm-1199) {
                        font-size: 13px;
                    }
                }
            }

            .f-soc-block {
                display: flex;
                align-items: center;

                .f-soc {
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 43px;
                    height: 43px;
                    padding: 2px;
                    background-color: #684FD1;
                    border-radius: 50%;
                    margin-left: 25px;
                    transition: .3s;

                    img {
                        width: 50%;
                        height: 50%;
                        object-fit: contain;
                    }

                    @media ($sm-767) {
                        width: 32px;
                        height: 32px;
                        margin-left: 10px;
                    }

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 10px 6px -6px rgba($color: #000000, $alpha: 0.3);
                    }
                }
            }
        }
    }
}

.copyright-sec {
    background-color: #321A89;
    padding: 35px 15px;

    @media ($sm-1679) {
        padding: 30px 15px;
    }

    @media ($sm-1441) {
        padding: 25px 15px;
    }

    @media ($sm-1199) {
        padding: 20px 15px;
    }

    @media ($sm-767) {
        padding: 18px 15px;
    }

    p {
        font-size: 19px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 0;
        text-align: center;

        @media ($sm-1679) {
            font-size: 18px;
        }

        @media ($sm-1441) {
            font-size: 16px;
        }

        @media ($sm-1199) {
            font-size: 14px;
        }

        @media ($sm-767) {
            font-size: 13px;
        }
    }
}

.btn--6 {
    position: relative;
    border: 0;
    cursor: pointer;
    background-color: transparent;

    .btn__text {
        position: relative;
        z-index: 1;
    }

    &::before,
    &::after {
        position: absolute;
        bottom: 0;
        display: block;
        height: 2px;
        width: 0;
        background-color: #7F57F1;
        content: "";
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
        transition: width .4s;
    }

    &:hover::before {
        width: 100%;
        transition: width .3s;
    }

    &:hover::after {
        background-color: transparent;
        width: 100%;
    }
}

.contact-modal {
    .modal-dialog {
        max-width: 980px;
    }

    .modal-header {
        min-height: 70px;
        border: none;

        @media ($sm-1367) {
            min-height: 40px;
        }

        .btn-close {
            width: 26px;
            height: 26px;
            background-color: #FFFFFF;
            border: 1px solid #E3E3E3;
            border-radius: 100px;
            background-size: 11px;
            position: absolute;
            right: 30px;
            top: 20px;

            // @media ($sm-1367) {
            //     width: 20px;
            //     height: 20px;
            // }

            // @media ($sm-991) {
            //     width: 16px;
            //     height: 16px;
            // }
        }
    }

    .modal-body {
        padding: 0 100px;

        @media ($sm-1679) {
            padding: 0 60px;
        }

        @media ($sm-1367) {
            padding: 0 40px;
        }

        @media ($sm-991) {
            padding: 0 30px;
        }

        .contact-header {
            .title {
                text-align: left;
                font: 600 28px $poppins;
                color: #1D1D39;

                @media ($sm-1367) {
                    font-size: 22px;
                }
            }

            p {
                text-align: left;
                font: normal 13px $poppins;
                color: #1D1D39;
            }
        }

        .contact-body {
            margin-top: 50px;
            padding-bottom: 80px;

            @media ($sm-991) {
                margin-top: 30px;
                padding-bottom: 30px;
            }

            .contact-us-img {
                display: block;
                margin: auto;
            }

            .form-block {
                @media ($sm-767) {
                    margin-top: 30px;
                }

                .input-block {
                    margin-bottom: 50px;

                    @media ($sm-1367) {
                        margin-bottom: 30px;
                    }

                    .form-label {
                        text-align: left;
                        font: normal 15px $poppins;
                        color: #1D1D39;
                        margin-bottom: 6px;
                    }
                    .input-group-text{
                        border: none !important;
                        background: #F8F7FF;
                        border-radius: 30px 0px 0 30px;
                        padding-left: 25px;
                    }
                    .form-control {
                        height: auto;
                        background: #F8F7FF;
                        border-radius: 30px;
                        text-align: left;
                        font: normal 17px $poppins;
                        color: #1D1D39;
                        padding: 10px 20px;
                        padding-left: 0;
                        border: none;
                        margin: 0;

                        @media ($sm-1367) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}