@import "partials/partials";

.products-section{
    padding-top: 30px;
    padding-bottom: 50px;
    @media screen and (max-width: 1679px){
        padding-bottom: 40px;
    }
    @media screen and (max-width: 1440px){
        padding-bottom: 30px;
    }
}

.products-list{
    .products-row{
        row-gap: 24px;
        padding-bottom: 35px;
    }
    .resultsCount{
        color: #000000;
        font-size: 19px;
        padding-bottom: 1em;
        @media screen and (max-width: 1679px){
            font-size: 16px;
        }
        @media screen and (max-width: 1440px){
            font-size: 15px;
        }
    }
    .sortBy{
        display: flex;
        font-size: 14px;
        align-items: center;
        column-gap: 40px;
        padding-bottom: 7px;
        margin-bottom: 13px;
        border-bottom: 1px solid #7070701a;
        @media screen and (max-width: 767px){
            flex-direction: column;
            align-items: flex-start;
            border-bottom: none;
        }
        .title{
            font-size: 14px; 
            margin: 0;
            display: flex;
            align-items: center;
            .btn-sortBy{
                padding: 5px;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                img{
                    object-fit: contain;
                    opacity: 0.7;
                }
                @media screen and (min-width: 768px){
                    display: none;
                }
            }
        }
        ul{
            margin: 0;
            padding: 0;
            font-size: 14px;
            display: flex;
            column-gap: 40px;
            &.collapse{
                &:not(.show){
                    @media screen and (max-width: 767px){
                        display: none;
                    }
                }
            }
            @media screen and (max-width: 767px){
                flex-direction: column;
                row-gap: 5px;
                padding-top: 10px;
            }
        }
        .sortLink{
            color: #000000;
            font-weight: 500;
            position: relative;
            &:after{
                @media screen and (min-width: 768px){
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background-color: transparent;
                }
            }
            &.active{
                color: $purple;
                &:after{
                    background-color: $purple;
                }
            }
        }
    }
    .products-card{
        padding: 30px;
        .product-txt{
            h6{
                font-size: 16px;
            }
            span{
                font-size: 16px;
            }
        }
        .products-card-footer{
            .price-block{
                .price{
                    font-size: 16px;
                }

                .view-block{
                    .btn{
                        font-size: 11px;
                        padding-left: 3px;
                        padding-right: 3px;
                        &:before{
                            width: 40px;
                            height: 40px;
                            left: 0;
                        }
                    }
                } 
            } 
        } 
    }
}